<ul id="<%= dom_id inbox %>" 
    data-controller="results" 
    data-action="results:selected->search#selected"
    data-results-field-param="the_input"
    >
    <li 
      data-action="click->results#select"
      >
    <%= inbox.name %>
  </li>
</ul>
