<div
  data-controller="search" 
  >
  <input
    name="name" 
    form="the_form"
    data-search-target="the_input" 
    data-action="search#query"
    >
  <button data-search-target="clear" data-action="search#clear">Clear</button>
  <button style="display: none"
    type="submit"
    form="the_form"
    data-search-target="the_submit"
    >
  </button>
  <div
        
</div>

<turbo-frame id="search-frame" data-turbo-frame="search-frame">
  <form action="/search" id="the_form"></form>
</turbo-frame>
