<turbo-frame id="search-frame">
  <form action="/search" id="the_form"></form>
  <ul 
    id="inboxes"
    data-controller="results" 
    data-results-target="the_list" 
    data-action="results:selected->search#selected"
    data-results-field-param="the_input"
    >
    <%= render @inboxes %>
  </ul>
</turbo-frame>
